h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:calc(100vh - 64px);
}
mat-sidenav{
    width: 300px;
}
mat-sidenav-content{
    background-color: lightgray;
}