<mat-toolbar color="primary" style = "display: flex;">
    <mat-toolbar-row>
      <table class="row-column">
          <tr class="row-column">
            <td  class="left-column">
              <button mat-icon-button (click)="toggleSidebar.emit()">
                <mat-icon>menu</mat-icon>
              </button>
              <span><img src="../../../../assets/img/logo_branca.png" style="height: 50px;"></span>
              <!--<span class="example-spacer"></span>-->
            </td>
            <td class="center-column">
              <div class="input-search">
                <mat-form-field class="mat-input-search" appearance="legacy" [floatLabel]="'never'"> 
                  <input matInput placeholder="Buscar itens ou serviços" style="color: black">
                  <mat-icon matSuffix (click)="search()" class="icone-clicavel">search</mat-icon>
                </mat-form-field>
              </div>
            </td>
            <td class="right-column">
              <button mat-icon-button>
                <mat-icon>logout</mat-icon>
              </button>
            </td>
          </tr>
      </table>
    </mat-toolbar-row>
  </mat-toolbar>